<div class="navbar-todo">
  <div class="navbar-todo-logo">
  <%= link_to image_tag('todo-logo.png'), root_path %>
  </div>
  <% if user_signed_in? %>
  <div class="navbar-todo-right">
    <div class="navbar-todo-search">
      <%= form_tag(todos_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search], placeholder: "Search your todo's", class: "search-box-field") %>
      <%= submit_tag "Search", name: nil, class: "navbar-search-button" %>
      <% end %>
    </div>
    <div class="navbar-todo-avatar">
      <%= image_tag("avatar-ninja.png") %>
    </div>
  <% else %>
    <div class="navbar-todo-right-login">
      <%= link_to "Log in", new_user_session_path %>
    </div>
  <% end %>
  </div>
</div>
