<%= simple_form_for @todo do |f| %>
<%= f.input :title, label: "Your todo" %>
<%= f.input :description, label: "Description" %>
<%= f.button :submit %>
<% end %>
<ul>
  <li><%= link_to "Home", root_path %></li>
</ul>
