<h1>Todos#index</h1>
<p>Find me in app/views/todos/index.html.erb</p>
<ul>
  <% @todos.each do |todo| %>
  <li><%= todo.title %></li>
  <li><%= link_to "Delete", todo_path(todo), method: :delete %></li>
  <li><%= link_to "Edit", edit_todo_path(todo) %></li>
  <% end %>
</ul>
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "New Todo", todos_new_path %></li>
</ul>
