<div class="container-fluid all-todos">
  <h1>My Todo's</h1>
  <div><%= weather_fetcher.weather_temp %>°c in <%= weather_fetcher.weather_location %> </div>
  <div class="row">
    <div class="all-todos-cards col-xs-12 col-sm-6 offset-sm-2" id="todos">
      <% if @todos.blank? %>
        <div class="all-todo-first">
          <div class="all-todo-first-icon">
          <%= image_tag ("icons/paper-plane.svg") %>
          </div>
          <div class="all-todo-first-txt">
          Add your first todo
          </div>
        </div>
      <% else %>
        <% @todos.each do |todo| %>
          <%= render 'shared/todos_card', todo: todo %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="all-todos-create col-xs-12 col-sm-6 offset-sm-2">
    <div class="all-todos-create-title">
      <h3>Create new todo <%= image_tag ("menu-dropdown.png"), class: "menu-dropdown-new-todo" %></h3>
    </div>
    <div id="new-todo-field" class="hidden">
    <%= render 'shared/todos_form', todo: @todo %>
    </div>
  </div>
<%= javascript_pack_tag 'after_load_todo_index' %>
</div>
